In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [2]:
df3 = pd.read_csv('payers.csv')
df3.head()

,Id,NAME,ADDRESS,CITY,STATE_HEADQUARTERED,ZIP,PHONE
0,b3221cfc-24fb-339e-823d-bc4136cbc4ed,Dual Eligible,7500 Security Blvd,Baltimore,MD,21244.0,1-877-267-2323
1,7caa7254-5050-3b5e-9eae-bd5ea30e809c,Medicare,7500 Security Blvd,Baltimore,MD,21244.0,1-800-633-4227
2,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,Medicaid,7500 Security Blvd,Baltimore,MD,21244.0,1-877-267-2323
3,d47b3510-2895-3b70-9897-342d681c769d,Humana,500 West Main St,Louisville,KY,40018.0,1-844-330-7799
4,6e2f1a2d-27bd-3701-8d08-dae202c58632,Blue Cross Blue Shield,Michigan Plaza,Chicago,IL,60007.0,1-800-262-2583

In [3]:
df3.shape

(10, 7)

In [4]:
df3.to_csv("payers)cleaned.csv")

In [5]:
df4 = pd.read_csv('procedures.csv')
df4

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,REASONCODE,REASONDESCRIPTION
0,2011-01-02T09:26:36Z,2011-01-02T12:58:36Z,3de74169-7f67-9304-91d4-757e0f3a14d2,32c84703-2481-49cd-d571-3899d5820253,265764009,Renal dialysis (procedure),903,NaN,NaN
1,2011-01-03T05:44:39Z,2011-01-03T06:01:42Z,d9ec2e44-32e9-9148-179a-1653348cc4e2,c98059da-320a-c0a6-fced-c8815f3e3f39,76601001,Intramuscular injection,2477,NaN,NaN
2,2011-01-04T14:49:55Z,2011-01-04T15:04:55Z,d856d6e6-4c98-e7a2-129b-44076c63d008,2cfd4ddd-ad13-fe1e-528b-15051cea2ec3,703423002,Combined chemotherapy and radiation therapy (p...,11620,363406005.0,Malignant tumor of colon
3,2011-01-05T04:02:09Z,2011-01-05T04:17:09Z,bc9d59c3-0a30-6e3b-f47d-022e4f03c8de,17966936-0878-f4db-128b-a43ae10d0878,173160006,Diagnostic fiberoptic bronchoscopy (procedure),9796,162573006.0,Suspected lung cancer (situation)
4,2011-01-05T12:58:36Z,2011-01-05T16:42:36Z,3de74169-7f67-9304-91d4-757e0f3a14d2,9de5f0b0-4ba4-ce6f-45fb-b55c202f31a5,265764009,Renal dialysis (procedure),1255,NaN,NaN
...,...,...,...,...,...,...,...,...,...
47696,2022-01-29T20:35:37Z,2022-01-29T20:50:37Z,ff1b3c26-53a6-4590-ce79-a3f7269274ea,01b57f06-cebe-a3e4-4423-a796ffb0c35d,430193006,Medication Reconciliation (procedure),413,NaN,NaN
47697,2022-01-29T20:35:37Z,2022-01-29T20:50:37Z,ff1b3c26-53a6-4590-ce79-a3f7269274ea,01b57f06-cebe-a3e4-4423-a796ffb0c35d,274804006,Evaluation of uterine fundal height,3238,72892002.0,Normal pregnancy
47698,2022-01-29T20:35:37Z,2022-01-29T20:50:37Z,ff1b3c26-53a6-4590-ce79-a3f7269274ea,01b57f06-cebe-a3e4-4423-a796ffb0c35d,225158009,Auscultation of the fetal heart,7045,72892002.0,Normal pregnancy
47699,2022-01-29T20:35:37Z,2022-01-29T20:50:37Z,ff1b3c26-53a6-4590-ce79-a3f7269274ea,01b57f06-cebe-a3e4-4423-a796ffb0c35d,118001005,Streptococcus pneumoniae group B antigen test,1559,72892002.0,Normal pregnancy
47700,2022-01-29T20:35:37Z,2022-01-29T21:08:12Z,ff1b3c26-53a6-4590-ce79-a3f7269274ea,01b57f06-cebe-a3e4-4423-a796ffb0c35d,710824005,Assessment of health and social care needs (pr...,431,NaN,NaN

In [6]:
df4.dtypes

START                 object
STOP                  object
PATIENT               object
ENCOUNTER             object
CODE                   int64
DESCRIPTION           object
BASE_COST              int64
REASONCODE           float64
REASONDESCRIPTION     object
dtype: object

In [7]:
df4.isnull().sum()

START                    0
STOP                     0
PATIENT                  0
ENCOUNTER                0
CODE                     0
DESCRIPTION              0
BASE_COST                0
REASONCODE           36945
REASONDESCRIPTION    36945
dtype: int64

In [8]:

df4['REASONCODE'].value_counts()

7.289200e+07    5718
4.943600e+07    1744
2.548370e+08     762
4.241320e+08     343
3.890870e+08     342
1.050900e+07     249
8.743300e+07     210
1.850860e+08     170
2.306900e+08     114
8.880501e+07     103
6.849600e+07     100
6.596600e+07      84
1.956620e+08      59
4.387801e+07      56
8.405440e+08      55
6.781100e+13      53
7.657101e+07      51
1.611400e+07      50
2.631020e+08      46
5.815000e+07      45
3.634060e+08      38
2.833850e+08      33
5.602001e+06      33
2.833710e+08      30
5.382701e+07      29
2.229801e+07      27
3.702470e+08      26
3.373700e+07      20
2.845510e+08      19
3.598170e+08      19
1.098380e+08      17
2.845490e+08      16
1.625730e+08      16
7.131970e+08      12
6.571001e+07      12
4.104290e+08      12
9.130201e+07       8
4.444700e+08       7
9.426000e+07       6
1.269060e+08       6
4.750500e+07       4
4.444480e+08       3
2.625740e+08       3
3.083200e+07       2
7.440001e+07       2
4.031920e+08       2
Name: REASONCODE, dtype: int64

In [9]:

def custom_date_parser(date_string):
    return pd.to_datetime(date_string.replace('|', '-'), format='%Y-%m-%dT%H:%M:%SZ')

df4['START'] = df4['START'].apply(custom_date_parser)

print(df4['START'].dtype)

datetime64[ns]

In [10]:
df4['STOP'] = pd.to_datetime(df4['STOP'], format='%Y-%m-%dT%H:%M:%SZ')

print(df4['STOP'].dtype)

datetime64[ns]

In [11]:
df4.to_csv("procedures_cleaned.csv")

In [12]:
df5 = pd.read_csv('organizations.csv')
df5

,Id,NAME,ADDRESS,CITY,STATE,ZIP,LAT,LON
0,d78e84ec-30aa-3bba-a33a-f29a3a454662,MASSACHUSETTS GENERAL HOSPITAL,55 FRUIT STREET,BOSTON,MA,2114,42.362813,-71.069187

In [13]:
df5.to_csv('organizations_cleaned.csv')