In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df1 = pd.read_csv('patients.csv',delimiter=':')
df1.head(20)

,Id,BIRTHDATE,DEATHDATE,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON
0,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977|03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,NaN,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503
1,6e5ae27c-8038-7988-e2c0-25a103f01bfa,1940|02-19,NaN,Mr.,Zane918,Hodkiewicz467,NaN,NaN,M,white,nonhispanic,M,Brookline Massachusetts US,747 Conn Throughway,Boston,Massachusetts,Suffolk County,2135.0,42.308831,-71.063162
2,8123d076-0886-9007-e956-d5864aa121a7,1958|06-04,NaN,Mr.,Quinn173,Marquardt819,NaN,NaN,M,white,nonhispanic,NaN,Gardner Massachusetts US,816 Okuneva Extension Apt 91,Quincy,Massachusetts,Norfolk County,2170.0,42.265177,-70.967085
3,770518e4-6133-648e-60c9-071eb2f0e2ce,1928|12-25,2017-09-29,Mr.,Abel832,Smitham825,NaN,NaN,M,white,hispanic,M,Randolph Massachusetts US,127 Cole Way Unit 95,Boston,Massachusetts,Suffolk County,2118.0,42.334304,-71.066801
4,f96addf5-81b9-0aab-7855-d208d3d352c5,1928|12-25,2014-02-23,Mr.,Edwin773,Labadie908,NaN,NaN,M,white,hispanic,NaN,Stow Massachusetts US,976 Ziemann Gateway,Boston,Massachusetts,Suffolk County,2125.0,42.346771,-71.058813
5,8e9650d1-788a-78f9-4a28-d08f7f95354a,1928|12-25,NaN,Mr.,Frankie174,Oberbrunner298,NaN,NaN,M,white,hispanic,NaN,Boston Massachusetts US,303 Bechtelar Bypass Suite 26,Boston,Massachusetts,Suffolk County,2467.0,42.371026,-71.118107
6,183df435-4190-060e-8f8e-bf63c572b266,1957|11-08,NaN,Mrs.,Eilene124,Walsh511,NaN,Wiegand701,M,asian,nonhispanic,NaN,Beijing Beijing Municipality CN,235 Lang Parade,Cambridge,Massachusetts,Middlesex County,2142.0,42.358928,-71.156224
7,720560d4-51da-c38c-ee90-c15935278df1,1972|06-27,NaN,Mr.,Lowell343,Price929,NaN,NaN,M,white,nonhispanic,M,Lowell Massachusetts US,694 Kuhlman Corner Apt 74,Quincy,Massachusetts,Norfolk County,2170.0,42.297904,-71.015983
8,217851b0-5f47-d376-18b9-0fe4ba77207e,1954|03-06,NaN,Mr.,Adrian111,Gleason633,NaN,NaN,S,black,hispanic,M,Boston Massachusetts US,808 Gottlieb Wall,Boston,Massachusetts,Suffolk County,2126.0,42.384084,-71.100689
9,ff331e5c-ab16-e218-f39a-63e11de1ed75,1927|07-10,NaN,Mr.,Eugene421,Abernathy524,NaN,NaN,M,native,hispanic,NaN,Pembroke Massachusetts US,706 Connelly Track Unit 1,Boston,Massachusetts,Suffolk County,2111.0,42.358519,-71.078598
10,affa7bf1-f4fc-d3f7-747c-db8f32d105cf,1933|05-08,NaN,Mr.,Jay242,Wisozk929,NaN,NaN,M,white,nonhispanic,NaN,Boston Massachusetts US,471 Borer Estate,Boston,Massachusetts,Suffolk County,2124.0,42.320186,-71.145693
11,becb15c3-a135-8fb2-ea09-583043922a3a,1948|05-30,NaN,Mrs.,Stephanie963,Douglas31,NaN,Predovic534,M,white,nonhispanic,NaN,Amesbury Massachusetts US,345 Carter Hollow,Boston,Massachusetts,Suffolk County,2132.0,42.348327,-71.096466
12,a8ceba15-ef47-da92-253d-185853ff6c34,1971|10-27,2021-03-26,Mrs.,Helene803,Kilback373,NaN,Walker122,M,white,hispanic,NaN,New Bedford Massachusetts US,865 McLaughlin Underpass Apt 63,Bôston,Massachusetts,Suffolk County,2114.0,42.340495,-71.101117
13,0e02b297-527d-b5ea-30e5-690c82541243,1983|04-11,NaN,Mr.,Maria750,Waelchi213,NaN,NaN,M,black,nonhispanic,M,Salem Massachusetts US,584 Cormier Lodge Suite 70,Somerville,Massachusetts,Middlesex County,2145.0,42.346290,-71.106427
14,f2203fd5-1a2c-60cd-cae0-1416658880b6,1939|09-21,NaN,Mrs.,Edra310,Wehner319,NaN,Upton904,M,white,nonhispanic,F,Fairhaven Massachusetts US,538 Hilpert Estate Apt 80,Boston,Massachusetts,Suffolk County,2131.0,42.335375,-71.058499
15,4d55540d-c43d-e6e8-5364-ec2509df31e3,1964|10-15,NaN,Mrs.,Mickie472,Champlin946,NaN,Hermann103,M,white,nonhispanic,NaN,Chelsea Massachusetts US,1092 Schoen Grove Unit 66,Boston,Massachusetts,Suffolk County,2119.0,42.340496,-71.065487
16,07e7f8a0-1bfd-3af8-2bd0-29f1dbe9633c,1923|03-16,NaN,Ms.,Norah104,Feeney44,NaN,NaN,S,white,nonhispanic,NaN,Oxford Massachusetts US,865 Pollich Rest,Boston,Massachusetts,Suffolk County,2125.0,42.367438,-71.014511
17,6746a7c0-1335-90e8-5006-04378f138f46,1979|06-16,NaN,Mr.,Edgardo196,Okuneva707,NaN,NaN,S,black,nonhispanic,NaN,Waltham Massachusetts US,947 Eichmann Boulevard,Revere,Massachusetts,Suffolk County,2151.0,42.389434,-70.996224
18,733678d5-4ba7-d464-4eda-b849e137a42c,1981|02-17,NaN,Mr.,Allen322,Schumm995,NaN,NaN,M,white,nonhispanic,M,Haverhill Massachusetts US,425 Lang Boulevard,Quincy,Massachusetts,Norfolk County,2169.0,42.303280,-70.974078
19,5bd6c434-6f51-6e53-4d0f-8d3889f377da,1931|12-18,NaN,Mrs.,Celia938,Carter549,NaN,Crona259,M,asian,nonhispanic,NaN,Attleboro Massachusetts US,773 Weissnat Route Unit 6,Boston,Massachusetts,Suffolk County,2111.0,42.324761,-70.998943

In [4]:
df1.describe(include=object).T

           count unique                                   top freq
Id           994    974  69790209-5130-7140-2f03-b1010b81f724    2
BIRTHDATE    994    880                            1929|05-15    4
DEATHDATE    154    148                            2017-09-29    2
PREFIX       994      3                                   Mr.  503
FIRST        994    842                          Bernardo699     4
LAST         994    498                             Heaney114    6
SUFFIX        21      3                                   PhD   10
MAIDEN       394    279                              Jerde200    5
MARITAL      993      2                                     M  799
RACE         994      6                                 white  695
ETHNICITY    994      2                           nonhispanic  799
GENDER       507      2                                     M  261
BIRTHPLACE   994    299             Boston  Massachusetts  US   80
ADDRESS      994    974                 628 Spinka Trafficway    2
CITY         994     30                                Boston  550
STATE        994      2                         Massachusetts  990
COUNTY       994      5                        Suffolk County  658

In [5]:
df1.shape

(994, 20)

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 994 entries, 0 to 993
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          994 non-null    object
 1   BIRTHDATE   994 non-null    object
 2   DEATHDATE   154 non-null    object
 3   PREFIX      994 non-null    object
 4   FIRST       994 non-null    object
 5   LAST        994 non-null    object
 6   SUFFIX      21 non-null     object
 7   MAIDEN      394 non-null    object
 8   MARITAL     993 non-null    object
 9   RACE        994 non-null    object
 10  ETHNICITY   994 non-null    object
 11  GENDER      507 non-null    object
 12  BIRTHPLACE  994 non-null    object
 13  ADDRESS     994 non-null    object
 14  CITY        994 non-null    object
 15  STATE       994 non-null    object
 16  COUNTY      994 non-null    object
 17  ZIP         849 non-null    float64
 18  LAT         994 non-null    float64
 19  LON         994 non-null    float64
dtypes: float64(3), object(17)
memory usage: 155.4+ KB

In [7]:
df1.columns

Index(['Id', 'BIRTHDATE', 'DEATHDATE', 'PREFIX', 'FIRST', 'LAST', 'SUFFIX',
       'MAIDEN', 'MARITAL', 'RACE', 'ETHNICITY', 'GENDER', 'BIRTHPLACE',
       'ADDRESS', 'CITY', 'STATE', 'COUNTY', 'ZIP', 'LAT', 'LON'],
      dtype='object')

In [8]:
df1.isnull().sum()

Id              0
BIRTHDATE       0
DEATHDATE     840
PREFIX          0
FIRST           0
LAST            0
SUFFIX        973
MAIDEN        600
MARITAL         1
RACE            0
ETHNICITY       0
GENDER        487
BIRTHPLACE      0
ADDRESS         0
CITY            0
STATE           0
COUNTY          0
ZIP           145
LAT             0
LON             0
dtype: int64

In [9]:
df1['BIRTHDATE'] = df1['BIRTHDATE'].replace(['1741|02-27','1752|11-12','1757|11-15','3928|08-25','3935|01-21','3977|04-29','943|09-30','3925|03-11','3989|07-14'],['1941|02-27','1952|11-12','1957|11-15','1928|08-25','1935|01-21','1977|04-29','1943|09-30','1925|03-11','1989|07-14'])

In [10]:
df1['BIRTHDATE'] = df1['BIRTHDATE'].str.replace('|', '-', regex=False)

# Convert 'BIRTHDATE' column to datetime
df1['BIRTHDATE'] = pd.to_datetime(df1['BIRTHDATE'], errors='coerce')
df1['BIRTHDATE'].head()

0   1977-03-19
1   1940-02-19
2   1958-06-04
3   1928-12-25
4   1928-12-25
Name: BIRTHDATE, dtype: datetime64[ns]

In [11]:
df1.groupby('BIRTHDATE').size()

BIRTHDATE
1922-03-24    1
1922-03-30    1
1922-04-13    1
1922-04-15    1
1922-05-31    2
             ..
1991-08-03    1
1991-09-23    1
1991-10-01    1
1991-10-04    1
1991-11-27    1
Length: 880, dtype: int64

In [12]:
df1['BIRTHDATE'].isnull().sum()

0

In [13]:
df1['PREFIX'].value_counts()

Mr.     503
Mrs.    394
Ms.      97
Name: PREFIX, dtype: int64

In [14]:
df1['PREFIX'] = df1['PREFIX'].replace(['Ms.'],['Mrs.'])

In [15]:
df1['PREFIX'].value_counts()

Mr.     503
Mrs.    491
Name: PREFIX, dtype: int64

In [16]:
df1['GENDER'] = df1.apply(lambda row: 'F' if row['PREFIX'] == 'Mrs.' else 'M' if row['PREFIX'] == 'Mr.' else row['GENDER'], axis=1)
df1['GENDER'].head(20)

0     F
1     M
2     M
3     M
4     M
5     M
6     F
7     M
8     M
9     M
10    M
11    F
12    F
13    M
14    F
15    F
16    F
17    M
18    M
19    F
Name: GENDER, dtype: object

In [17]:
df1['GENDER'].isnull().sum()

0

In [18]:
df1['MAIDEN'] = df1['MAIDEN'].fillna('no_maiden')

In [19]:
df1['STATE'].value_counts()

Massachusetts    990
Màssachusetts      4
Name: STATE, dtype: int64

In [20]:
df1['STATE'] = df1['STATE'].replace(['Màssachusetts'],['Massachusetts'])

In [21]:
df1['MAIDEN'].head()

0    Leannon79
1    no_maiden
2    no_maiden
3    no_maiden
4    no_maiden
Name: MAIDEN, dtype: object

In [22]:
df1['DEATHDATE'] = df1['DEATHDATE'].fillna('Still_live')
df1['DEATHDATE'].head(10)

0    Still_live
1    Still_live
2    Still_live
3    2017-09-29
4    2014-02-23
5    Still_live
6    Still_live
7    Still_live
8    Still_live
9    Still_live
Name: DEATHDATE, dtype: object

In [23]:
duplicated = df1.duplicated().value_counts()
df1=df1.drop_duplicates()

In [24]:
df1.shape

(974, 20)

In [25]:
Race = df1['RACE'].value_counts()
Race.head()

white       680
black       163
asian        91
other        16
hawaiian     13
Name: RACE, dtype: int64

In [26]:
ETHNICITY = df1['ETHNICITY'].value_counts()
ETHNICITY.head()

nonhispanic    783
hispanic       191
Name: ETHNICITY, dtype: int64

In [27]:
BIRTHPLACE = df1['BIRTHPLACE'].value_counts()
BIRTHPLACE

Boston  Massachusetts  US            78
Worcester  Massachusetts  US         20
Springfield  Massachusetts  US       17
Somerville  Massachusetts  US        17
Brockton  Massachusetts  US          14
                                     ..
Khamis Mushayt  Asir  SA              1
Najran  Najran  SA                    1
Palermo  Sicily  IT                   1
Hadley  Massachusetts  US             1
North Pembroke  Massachusetts  US     1
Name: BIRTHPLACE, Length: 299, dtype: int64

In [28]:
COTY = df1['CITY'].value_counts()
COTY.head()

Boston       537
Quincy        80
Cambridge     45
Revere        42
Chelsea       39
Name: CITY, dtype: int64

In [29]:
STATE = df1['STATE'].value_counts()
STATE.head()

Massachusetts    974
Name: STATE, dtype: int64

In [30]:
df1['BIRTHDATE'] = df1['BIRTHDATE'].replace([],[])

In [31]:
df1.to_csv("patient_cleaned.csv")